<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>

        <!--Si el usuario deja el campo nombre vacío, se muestra el mensaje
        <div *ngIf="!fg.controls['nombre'].valid">Nombre Invalido</div>-->

        <!--Otra forma, es preguntando si tiene ese error (required) con hasError-->
        <!--<div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido</div>-->
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} de largo</div>
    </div>

    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">

        <!--Otra forma, es preguntando si tiene ese error (required) con hasError-->
        <div *ngIf="fg.controls['url'].hasError('required')">
            Nombre Requerido
        </div>

    </div>
    <!--Si no cumple con required no se muestra botón-->
    <button type=" submit " class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>